<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.AspNet.FriendlyUrls" version="1.0.2" targetFramework="net40" />
  <package id="Microsoft.AspNet.FriendlyUrls.Core" version="1.0.2" targetFramework="net40" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net40" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net40" />
  <package id="NuGet.CommandLine" version="3.3.0" targetFramework="net40" />
</packages>